h2{
    color:pink;
}
body{
    color:blue;
    
    background-image: url("https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/y/i/YingHanAL.jpg?crop=0%2C25%2C4000%2C2200&wid=4000&hei=2200&scl=1.0");
}
